table{
  width:100%;
  border-collapse: collapse;
}

th{
  padding:10px;
  color: #333;
  text-align: left;
  border:1px solid #ccc;
}

td{
  color: #666;
  padding:3px 10px;
  border:1px solid #ddd;
}
